
name: Release Workflow
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Release Version:"
        required: true

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Create and push tag
        run: |
          git config --global user.email "rnd@allero.io"
          git config --global user.name "Allero CI"
          git tag -a ${{ github.event.inputs.release_version }} -m "Automated release: ${{ github.event.inputs.release_version }}"
          git push origin ${{ github.event.inputs.release_version }}

      - name: Set up Go
        uses: actions/setup-go@v3

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: 1.10.3
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ALLERO_BUILD_VERSION: ${{ github.event.inputs.release_version }}